.lead__subtitle{
  margin: 0;
  font-size: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin-top: 32px;
  margin-bottom: 64px;
}


@media screen and (max-width:1024px){
  .lead__subtitle{
    margin: 0;
    font-size: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px){
  .lead__subtitle{
    margin: 0;
    font-size: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    margin-top: 32px;
    margin-bottom: 56px;
  }
}


@media screen and (max-width:320px){
  .lead__subtitle{
    margin: 0;
    font-size: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    max-width: 288px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
